* {
  /* Reset browser defaults */
  margin: 0;
  padding: 0;
}

html {
  /* Old browsers */
  background: #f9f8fd;
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: -webkit-linear-gradient(-45deg, #35577D, #141E30); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(-45deg, #35577D, #141E30); */
}

body {
  /* Old browsers */
  background: #f9f8fd;
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: -webkit-linear-gradient(-45deg, #35577D, #141E30); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(-45deg, #35577D, #141E30); */
  margin: 0;
  padding: 0;
}

h1 {
  color: #1d1e22;
  font-size: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  font-family: Helvetica;
  text-align: left;
}

h2 {
  border-bottom: solid;
  color: #1d1e22;
  font-weight: 100;
  font-size: 25px;
  line-height: 50px;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: left;
  height: 50px;
  width: 100%;
  font-family: Helvetica;
  margin-bottom: 20px;
  border-bottom-color: #d4d4dc;
}

p {
  color: #1d1e22;
  line-height: 1.3em;
  text-align: left;
  width: 100%;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
}

a {
  color: #393f4d;
}

.content {
  padding: 40px;
  position: relative;
  top: 0px;
  /* Old browsers */
  background: #f9f8fd;
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: -webkit-linear-gradient(-45deg, #35577D, #141E30); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(-45deg, #35577D, #141E30); */

}

.banner {
  background-size: cover;
  background-position: center;
  height: 75px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.find {
  height: 25px;
  position: relative;
  width: 100%;
  z-index: 10;
  top: 0px;
  background: #feda6a;
  padding-top: 10px;
  border-bottom: solid;
  border-top: solid;
  border-color: #393f4d;
}

.caption {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 10px;
  font-style: oblique;
  line-height: 10px;
  margin-left: 0px;
  padding-left: 2px;
  position: relative;
  top: 100%;
  width: 40%;
  background-color: #e1e8f0;
  color: black;
  opacity: 0;
}

.writer-img {
  -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
  -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
  float: left;
  width: 50px;
  margin-top: 50px;
}

.byline {
  font-family: Helvetica, sans-serif;
  color: #393f4d;
  float: left;
  font-size: 14px;
  padding-left: 10px;
  text-transform: uppercase;
  margin-top: 50px;
}

.article {
  height: 300px;
}

.headline {
  font-size: 2em;
  padding-top: 60px;
  padding-bottom: 30px;
}

.statement {
  background-color: inherit;
  min-height: 25px;
  max-height: 200px;
  min-width: 200px;
  max-width: 400px;
  padding-bottom: 20px;
  margin: 0 auto;
  overflow: auto;
  text-align: center;
  font-style: italic;
}

.articleparagraph {
  display: inline-block;
  max-height: 150px;
  min-width: 10%;
  max-width: 100%;
  overflow: auto;
  margin-top: 20px;
}

.rectangle {
  display: inline-block;
  width: 100px;
  height: 25px;
  font-size: 30px;
  text-align: center;
}

.flexcontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.highlight {
  color: #e62739;
}
