* {
  /* Reset browser defaults */
  margin: 0;
  padding: 0;
}

html {
  /* Old browsers */
  background: #141E30;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(-45deg, #35577D, #141E30);
}

body {
  /* Old browsers */
  background: #141E30;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(-45deg, #35577D, #141E30);
  margin: 0;
  padding: 0;
}

h1 {
  color: #FFF;
  font-size: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  font-family: Georgia;
  text-align: center;
}

h2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
  font-size: 50px;
  line-height: 50px;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: left;
  height: 50px;
  width: 100%;
  font-family: Georgia;
  margin-bottom: 20px;
}

p {
  color: AliceBlue;
  line-height: 1.3em;
  text-align: left;
  width: 100%;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
}

a {
  color: AliceBlue;
}

.content {
  padding: 40px;
  position: relative;
  top: 150px;
  /* Old browsers */
  background: #141E30;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(-45deg, #35577D, #141E30);

}

.banner {
  background-image: url("https://www.ars.usda.gov/ARSUserFiles/60660500/cornear1.jpg");
  background-size: cover;
  background-position: center;
  height: 190px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.caption {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-style: oblique;
  line-height: 14px;
  margin-left: 0px;
  padding-left: 2px;
  position: relative;
  top: 100%;
  width: 40%;
  background-color: white;
  color: black;
  opacity: 0.75;
}

.writer-img {
  -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
  -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
  float: left;
  width: 50px;
  margin-top: 10px;
}

.byline {
  font-family: Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  float: left;
  font-size: 14px;
  padding-left: 10px;
  text-transform: uppercase;
  margin-top: 10px;
}

.article {
  height: 300px;
}

.headline {
  font-size: 2em;
  padding-top: 100px;
  padding-bottom: 10px;
}

.statement {
  background-color: inherit;
  border-style: none;
  border-width: 1px;
  border-color: red;
  min-height: 50px;
  max-height: 400px;
  min-width: 400px;
  max-width: 800px;
  padding-bottom: 20px;
  margin: 0 auto;
  overflow: auto;
  text-align: center;
  font-style: italic;
}

.articleparagraph {
  display: inline-block;
  max-height: 300px;
  min-width: 10%;
  max-width: 100%;
  overflow: auto;
  margin-top: 20px;
}

.rectangle {
  display: inline-block;
  width: 20%;
  height: 160px;
}
